fastapi
uvicorn[standard]
sqlalchemy[asyncio]
pydantic[email]
python-dotenv
python-multipart
psycopg2-binary
asyncpg
boto3
aioboto3
google-generativeai
pydantic_settings
pgvector
alembic
redis
rq
aioredis